.modalWrapper {
  width: 325px;
  height: 525px;
  background-color: black;
  padding: 24px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, .2)
}