.modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 325px;
  height: 535px;
  background-color: black;
  padding: 24px;
  border-radius: 10px;
  background-color: hsla(153, 53%, 24%, 0.20);
  backdrop-filter: blur(15px);
  border: 2px solid hsl(154deg 55% 45% / 40%);
  z-index: 1;
}