.menuItem {
  height: 24px;
  display: flex;
  align-items: center;
  transition: background var(--speed);
  padding: 0.5rem;
}

.menuItem:hover {
  cursor: pointer;
}

.menuText {
  width: 100%;
  padding-left: 8px;
  color: var(--text-color);
}